{% extends 'base.html.twig' %}

{% block title %}Application1Task index{% endblock %}

{% block body %}
    <h1>Application1Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartedAt</th>
                <th>FinishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application1_task in application1_tasks %}
            <tr>
                <td>{{ application1_task.id }}</td>
                <td>{{ application1_task.name }}</td>
                <td>{{ application1_task.startedAt ? application1_task.startedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ application1_task.finishedAt ? application1_task.finishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('application1_task_show', {'id': application1_task.id}) }}">show</a>
                    <a href="{{ path('application1_task_edit', {'id': application1_task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('application1_task_new') }}">Create new</a>
{% endblock %}
